@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Inter:wght@400;700;800&display=swap')

*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Barlow Semi Condensed', sans-serif
    text-align: center
    color: rgb(255, 255, 255)
    text-transform: uppercase
    background-image: $background-gradient

// .container
//     display: grid
//     grid-template-rows: 2
